/* Estilos generales */
.conocenos-container {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    color: #333;
    line-height: 1.6;
  }
  
  .conocenos-header {
    text-align: center;
    padding: 3rem 1rem;
    background-color: #f0f7ff;
    margin-bottom: 2rem;
  }
  
  .conocenos-header h1 {
    color: #2a5c9a;
    font-size: 2.5rem;
    margin: 0;
  }
  
  /* Sección principal */
  .conocenos-content {
    padding: 0 1rem 2rem;
    display: flex;
    flex-direction: row;
    background: white;
    margin-bottom: 20px;
    border-radius: 3%;
  }
  
  .about-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 1rem;
  }
  
  .about-card {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 10px 10px #4754BA;
    transition: transform 0.3s;
  }
  
  .about-card:hover {
    transform: translateY(-5px);
  }
  
  .about-card h2 {
    color: #2a5c9a;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  /* Descripción de la compañía */
  .company-description {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 8px;
    margin: 1rem;
  }
  
  .company-description h2 {
    color: #2a5c9a;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .company-image {
    max-width: 100%;
    margin: 2rem auto 0;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .company-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  